<feature id="blackberry.system"  required="true" version="1.0.0.0" />
<feature id="org.apache.cordova" required="true" version="2.0.0" />

<plugin name="File" value="org.apache.cordova.FileUtils" />
<plugin name="FileTransfer" value="org.apache.cordova.FileTransfer" />
<plugin name="FileUploadOptions" value="org.apache.cordova.FileUploadOptions" />


<feature id="blackberry.io.file" required="true" version="1.0.0.0" />
<feature id="blackberry.utils"   required="true" version="1.0.0.0" />
<feature id="blackberry.io.dir"  required="true" version="1.0.0.0" />
<rim:permissions>
    <rim:permit>access_shared</rim:permit>
</rim:permissions>

<!-- hack, not sure -->
<access origin="*"/>